/* 共通設定ここから */
li {
  list-style: none;

}

a {
  text-decoration: none;
  color: #000;
}

/* 共通設定ここまで */

/* main.blade.phpここから */
/* icon写真 */
.icon {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 200px;
  border: 2px solid black;
  margin: 0 32px;

}

/* iconと名前が入っているもの */
.user_info {
  display: flex;
  justify-content: center;
}

/* ユーザーネーム */
.user_name {
  text-align: center;
  margin: auto 0;
  padding-left: 16px;
}

/* 中身 */
.container {
  text-align: center;
}

/* 投稿内容一覧 */
.tl {
  margin: 0 auto;
  border-collapse: collapse;
}

/* 投稿内容 */
.post_i {
  padding: 16px 8px;
  border-bottom: 1px solid black;
}

/* 編集・変更ボタン */
.post_b {
  padding-left: 8px;

}

.user_list {
  margin-top: 64px;
}

/* main.blade.phpここまで */

/* create.blade.phpここから */
/* フォーム */
.form_n {
  width: 200px;
}

.form_p {
  width: 200px;
}

/* 登録ボタン */
.s_btn {
  margin-top: 32px;
}

/* create.blade.phpここまで */

/* profile.blade.php　ここから */
.f_info {
  display: flex;
  justify-content: center;
  padding: 16px 0;
}

.f_number {
  padding: 0 32px;
}

.p_update {
  padding: 8px;
  margin: 8px;
  border: 2px solid black;
  border-radius: 10px;
}

.alert,
.p_btn {
  text-align: center;
}

.p_btn {
  display: block;
}

/* profile.blade.php　ここまで */

/*prof-update.blade.php　ここから  */
/* 元々のアイコン画像 */
.old_icon {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 200px;
  margin: 16px 0;
}

/* アイコンのフォーム */
.icon_f {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* アイコンのinput */
.i-control {
  margin: 16px 0;
}

/*prof-update.blade.php　ここまで  */

/* following.blade.php ここから */


.fing_info {
  display: flex;
  padding: 32px 0;
  justify-content: center;
  border-bottom: 2px solid black;
  margin: 0 415px;
}

.fing_nb {
  flex-basis: 70%;
}


/* following.blade.php ここまで */

/* search.blade.php　ここから */

/* 検索結果 */
.s_results {
  text-align: center;
}

/* フォロー中・フォローする */
.followed {
  background-color: dodgerblue;
  text-align: center;
  padding: 3px;
  border-radius: 5px;
}

.follow {
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
  background-color: white;
}

/* search.blade.php　ここまで */
